@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 100%;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%; 
  padding: 30px 0; 
  font-family: 'Rubik', sans-serif;
  transition: all 0.3s ease;
  background: #fff;
}

.navbar.sticky{
  padding: 15px 0; 
  background: #d2d5a1;
  z-index: 999;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.navbar .logo a {
 color:#1c1f24;
 font-size: 35px;
 font-weight: 600;
 }

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #1c1f24;;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;

}

.navbar .menu li a:hover {
color: #3737ED;
}

.navbar.sticky .menu li a:hover {
  color:#D168ED;
  }

  /* menu button style */

  .menu-btn{
    font-size: 23px;
    cursor: pointer;
    display: none;

  }
  
  /* home section styling */

.home {
  display: flex;
  align-items: center;
  background: url("../images/profile_pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

.home .max-width {
  margin: 150px 0 0 0;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 20px;
  font-weight: 600;

}

.home .home-content .text-3 {
  font-size: 19px;
  margin: 5px 0;
}

.home .home-content a {
  display: inline-block;
  background-color: #de8763;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #d2d5a1;  
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #fff;
  background: none;

}

/* about section styling */
section {
  padding: 100px 0;
}

.about {
  font-family: Arial;
}

.about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .title {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  
}
.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 250px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}


.about .title::after {
  content: "cloud";
  font-size: 15px;
  background: #fff;
  position: absolute;
  bottom: -14px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
  color: crimson;

}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;

}
  
.about .about-content .right {
  width: 55%;
}

.about .about-content .right p {
  text-align: justify;
}


/* responsive media query start */

@media screen and (max-width: 1104px){
  .home .max-width{
    margin-left: 0px;
  }
}


@media screen and (max-width: 1042px){
  .about .about-content .column {
    width: 50%;
  }
  
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  
  .about .about-content .right {
    flex: 100%;
    text-align: center;
  }

}




@media screen and (max-width: 947px){
 
  .max-width {
    padding: 0 50px;
  }

  .menu-btn {
    display: block;
    color: #D168ED;
    z-index: 999;
  }

  .menu-btn i.active:before{
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0; 
    background: grey;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active{
    left: 0;
  }

  .navbar .menu li {
    display: block;

  }
  
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
  }

  .home .home-content .text-2 {
    font-size: 35px;
  }
  
  .home .home-content .text-3 {
    font-size: 17px;
  }

  .about .about-content .left img {
    height: 346px;
    width: 346px;
    object-fit: cover;
}

}


@media screen and (max-width: 690px){

  .home .home-content .text-2 {
    font-size: 32px;
  }
  
  .home .home-content .text-3 {
    font-size: 19px;
  }

 
}
